:root{
    --fontColor: #262626;
    --backgroundColor: #ffffff;
}

.contact__form,
.adminLogin{
    max-width: 80vw;
    margin: 0 auto;
    font-size: 1rem;
}

.contact__form__lastname,
.contact__form__firstname,
.contact__form__tel,
.contact__form__email,
.contact__form__subject,
.contact__form__content,
.adminLogin__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact__form__lastname__label,
.contact__form__firstname__label,
.contact__form__tel__label,
.contact__form__email__label,
.contact__form__subject__label,
.contact__form__content__label,
.adminLogin__loginLabel{
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.contact__form__lastname__input,
.contact__form__firstname__input,
.contact__form__tel__input,
.contact__form__email__input,
.contact__form__subject__input,
.adminLogin__input{
    border: none;
    border-bottom: 1px solid var(--fontColor);
    color: var(--fontColor);
    background-color: var(--backgroundColor);
    margin-bottom: 1.5rem;
    height: 40px;
}

.adminLogin__input{
    background-color: transparent;
}

.contact__form__content__input{
    height: 20vh;
    padding: 1rem;
    border: 1px solid var(--fontColor);
    border-radius: 0.5rem;
    color: var(--fontColor);
    background-color: var(--backgroundColor);
}

.contact__form__button,
.adminLogin__ValidateButton{
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    margin: 0.5rem auto;
    width: 10rem;
    height: 50px;
    border: 2px solid var(--fontColor);
    border-radius: 0.5rem;
    color: var(--fontColor);
    background-color: var(--backgroundColor);
}

.adminLogin__ValidateButton{
    background-color: transparent;
}

.form__error{
    margin-top: 0;
    color:#da0000;
    font-weight: 600;
}