:root{
    --fontColor: #262626;
    --backgroundColor: #ffffff;
}

/* Mails page */
.mails{
}

.mails__article,
.mail__article{
    margin:1rem;
}
.mail__article--display{
    text-align: center;
}
.mails__article__content,
.mail__article__content{
    font-size: 1rem;
    line-height: 1.2rem;
}
.mails__article__content--userIdentity{
display: inline-block;
}
.mails__article__link{
    text-decoration-line: none;
    color: #5252fd;
}
.mails__article__link--visited:visited{
    color: var(--fontColor);
}

/* mail page */

.mail__article__title{
    font-size: 1.1rem;
}

.mail__article__content--margin{
    margin: 0.5rem;
}