.about__card{
    margin: 2rem auto;
}

@media screen and (min-width:500px) {
    .about__card{
        width: 500px;
    }
}
@media screen and (min-width:1024px) {
    .about__card{
        width: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
    }
}