:root{
    --fontColor: #262626;
    --backgroundColor: #ffffff;
}

.about{

}

.about__article{
}

.about__article__img{
    width: 100vw;
}

.about__article__content{
text-align: justify;
margin: 2rem;
}

.about__socialNetwork{
    margin: 1rem;
    text-align: center;
}

.about__socialNetwork--updateMobile{
    margin: 2rem auto;
}

.fa-brands{
    font-size: 3rem;
    margin: 0 1rem 0 1rem;
}

.fa-facebook{
    color : #4267B2;
}
.fa-instagram{
    color:#cc2366;
}
.fa-twitter-square{
    color : #1DA1F2;
}