:root{
    --fontColor: #262626;
    --backgroundColor: #ffffff;
}

.actualities__article {
    text-align: center;
    margin: 2rem auto;
    width: 375px;
}
.actualities__img {
    width: 375px;
}
.actualities__title{
    font-size: 1.4rem;
}
/* .actualities__Subtitle{
    font-size: 1.2rem;
    border-bottom: ;
} */
.actualities__date{
    font-weight: 600;
    font-size: 1rem;
}
.actualities__content{
    text-align: justify;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}
.actualities__decoration{
    margin: 2rem auto;
    border-top: 1px solid var(--fontColor);
}