.button__group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.button__group--admin{
    margin: 1rem 0;
}
.button{
    margin: 0.2rem auto;
    padding: 0.5rem;
    width: 150px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    background-color: transparent;
}
.button--neutral{
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
}
.button--add{
    width: fit-content
}

.button--validate{
    display: block;
    border: 3px solid #0f7e00;
    color: #0f7e00;
}
.button--delete{
    display: block;
    border: 3px solid #da0000;
    color: #da0000;
}

.button--disconect{
    position: absolute;
    top : 0;
    right: 0;
    margin: 0;
}
