.bgc {
    background-image: url(../img/bgc_img/49720878792_3bd868bc17_o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -2;
    background-position-x: 60%;
    background-position-y: 90%;
    filter: brightness(85%);
}