.image__large{
    width: 100vw;
}

.image__large--about{
    margin-bottom: 1rem;
}

@media screen and (min-width:500px) {
    .image__large{
        width: 500px;
    }
    .grid{
        margin: 0 auto;
        width: 500px;
        margin: 0;
    }
}
@media screen and (min-width:768px) {
    .grid{
        margin: 0 auto;
        width: 500px;
    }
    .grid-item{
        float: left;
        width: 500px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1024px) {
    .grid{
        margin: 0 auto;
        width: 1024px;
    }
    .grid-item{
        float: left;
        width: 500px;
        margin: 5px 5px;
    }
}

