:root{
    --fontColor: #262626;
    --backgroundColor: #ffffff;
}
.link__style{
    text-decoration: none;
    color: var(--fontColor);
}
.link__style--delete{
    color: #da0000;
}
.link__nav-hover:hover{
    border-bottom: 1px solid var(--fontColor);
}