.mail__card{
    position: relative;
    width: 80vw;
    border: 1px solid var(--fontColor);
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 1rem;
}
.mail__date{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.mail__identity{
    display: flex;
    flex-wrap: nowrap;
}
.mail__usr-name{
    font-weight: 800;
    margin-right: 0.5rem ;
}
.mail__usr-info{
    margin: 1.5rem 0 2rem 0;
}
.mail__text{
    margin: 1rem;
}
.mail__subject{
    font-weight: 600;
}

@media screen and (min-width:1024px) {
    .mail__text{
        margin: 2rem;
    }
    .mail__card{
        width: 50vw;
    }
}
