/* public */

:root{
    --fontColor: #262626;
    --backgroundColor: #ffffff;
}
:root.dark-mode{
    --fontColor: #f1f1f1;
    --backgroundColor: #262626;
}
.generalities{
    font-size : 62.5%;
    font-family: "work sans";
    font-size: 0.8rem;
    box-sizing: border-box;
    color: var(--fontColor);
    background-color: var(--backgroundColor);
}

.nav__title__link, 
.nav__menu__element__link{
    text-decoration: none;
    color: var(--fontColor);
}

.nav__menu,
.nav__menu__element,
.nav__title{
    list-style-type: none;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.4rem;
}

.nav{
    padding: 0;
}
/* Nav title page acceuil: */

.nav__title{
    font-family: "dancing script";
    font-size: 3rem;
}

/* swap the class according to the selected pages  */
.nav__title--home{
    margin: 25vh 0 15vh 0;
}
.nav__title--page{
    margin: 5vh 0 5vh 0;
}