.previews__img{
    width: 250px;
    display: block;
    margin: 2rem auto 0;
}

.previews__link-img{
    display: block;
    width: fit-content;
    margin: 2rem auto 0;
}

.previews__title{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.previews__text{
    font-size: 1rem;
    text-align: justify;
    margin: 0.5rem auto;
    width: 250px;
}

@media screen and (min-width:1024px) {
    .previews__card{
        width: 250px;
        margin: 0 3rem;
    }
    .previews__card-form-group{
        display: flex;
        flex: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .previews__group-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}